// base

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 84%;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .container {
      width: 91%;
      max-width: 1240px;
    }
  }

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

//HEADER
.l-header {
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 74px;
    }   
}

@media (min-width: 900px) {
.l-header{
    .container {
        height: 100px;
    }
  }
}

.l-header__logo {
    display: flex;
    align-items: center;

    img {
        width: 42px;
        margin-right: 10px;
    }
    .p-header__name {
        color: #333333;
        font-size: 1.2rem;
        font-weight: 900;
        line-height: 1.4;
    }
    .p-header__subtitle {
        color: #707f89;
        font-size: 1rem;
        line-height: 1.4;
    }
}

@media(min-width: 900px) {
    .l-header {
        img {
            width: 59px;
            margin-right: 18px;
        }
        .p-header__name {
            font-size: 2rem;
        }
        .p-header__subtitle {
            font-size: 1.2rem;
        }
    }
}

.c-menu__sp {
    margin-left: auto; 
    #open {
    font-size: 3.2rem;
    line-height: 64px;
    cursor: pointer;
  }
}

// HERO-IMAGE
.l-main__hero {
    height: 400px;
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    .p-catch {
        flex: auto;
        align-self: flex-end;
        padding: 33px 0;
        background-color: rgba(255, 255, 255, 0.76);
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        line-height: 1.3;
    }
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    p {
        font-size: 14px;
        color: #2E5180;
        margin-bottom: 15px;
    }
}
@media(min-width: 900px) {
    .l-main__hero {
        height: 700px;
        .p-catch {
            padding: 47px 0 44px;
        }
        p {
            font-size: 1.6rem;
            margin-bottom: 22px;
        }
    }    
}

// MESSAGE
.l-main__message {
    padding: 67px 0;
    background-color: #2E5180;
    color: #ffffff;
    h2 {
        margin-bottom: 30px;
        font-size: 2.4rem;
        line-height: 1.67;
        text-align: center;
    }
    p {
        max-width: 640px;
        margin: 0 auto;
        font-size: 1.4rem;
        line-height: 1.86;
    }
}
@media(min-with: 900px) {
    .l-main__message {
        padding: 81px 0;
        h2 {
            font-size: 3.6rem;
            line-height: 1.33;
        }
    }
}
@media(max-width: 374px) {
    .l-main__message {
        h2 {
            font-size: 2rem;
        }
    }
}

// SERVICE
.l-main__service {
    padding: 67px 0;
    text-align: center;
    h2 {
        display: inline-block;
        margin-bottom: 16px;
        padding-bottom: 9px;
        border-bottom: dotted 2px currentColor;
        color: #2E5180;
        font-size: 2.4rem;
    }
}
.p-card__title {
    color: #2E5180;
    font-size: 1.6rem;
}
@media(min-width: 900px) {
    .l-main__service {
        padding: 95px 0 87px;
    }
    h2 {
        font-size: 3.6rem;
    }    
}

.p-card__details {
    margin-top: 53px;
    color: #333333;
}
.p-article__detail {
    h3{
        margin-bottom: 17px;
        font-size: 2rem;
        line-height: 1.75;
    }
    p {
        max-width: 264px;
        margin: 0 auto 25px;
        font-size: 1.2rem;
        line-height: 2;
    }
    :not(:last-child) {
        margin-bottom: 67px;
    }
    figure {
        height: 246px;
        margin-bottom: 22px;
        background-position: center;
        background-size: cover;
    }
    .u-office figure {
        background-image: url(../img/office.jpg);
    }
    .u-manage figure {
        background-image: url(../img/manage.jpg);
    }
    .u-research figure {
        background-image: url(../img/research.jpg);
    }
}

// BUTTON
.c-button {
    display: block;
    width: 208px;
    margin: 0 auto;
    padding: 11px 11px 13px;
    box-sizing: border-box;
    border: solid 2px currentColor;
    border-radius: 24px;
    color: #2E5180;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}